@charset "UTF-8";
@import url('https://fonts.googleapis.com/css?family=Nanum+Gothic');
*{margin:0;color:#fb0;text-decoration:none;list-style:none;outline:none;font-family: 'Nanum Gothic', sans-serif;}

#member-main-header{
	background-image: url('../image/main-header.jpg');
	background-size:cover;
    background-position:center;
	height:600px;
	padding:20px;
	display:flex;
	flex-direction:column;
	justify-content:center;
	align-items:center;
}
#member-main-header>h1{
	position:absolute;
	top:20px;
	left:20px;
}
#member-main-header>ul{
	position:absolute;
	top:20px;
	right:20px;
}
#member-main-header>ul>li{
	float:left;
	margin-left:20px;
	font-weight:bold;
}
#member-main-header>h2{
	align-items:center;
	font-size:2em;
}
#member-main-header>form>input[type="text"]{
	background-color:rgba(255,255,255,0.5);
	border:none;
	padding:15px;
	font-size:1em;
	border-radius:5px;
	margin-top:20px;
	font-weight:bold;
	color:white;
}
#member-main-header>form>input[type="text"]::placeholder{
	color:white;
}
#member-main-header>form>input[type="submit"]{
	background-color:#fb0;
	color:white;
	border:none;
	padding:15px;
	font-size:1em;
	cursor:pointer;
	border-radius:5px;
	font-weight:bold;
}
#member-main-section{
	margin-bottom:50px;
}
#member-main-section>article{
	display:flex;
	justify-content:center;
}
#member-main-section>article:nth-child(1){
	flex-direction:column;
	text-align:center;
	margin-top:50px;
}
#member-main-section>article:nth-child(1)>h3{
	margin-bottom:10px;
	color:black;
}
#member-main-section>article:nth-child(1)>p{
	color:black;
}
#member-main-section>article:nth-child(1)>p>span{
	color:black;
}
#member-main-section>article>div{
	background-color:black;
	text-align:center;
	padding:20px;
	height:200px;
	line-height:200px;
	border-radius:10px;
	margin:7px;
	cursor:pointer;
	font-size:1.5em;
	letter-spacing:0.3em;
	font-weight:bold;
	background-size:cover;
    background-position:center;
}
#member-main-section>article>div>a{
	color:white;
	text-decoration:none;
	width:100%;
	height:100%;
	display:block;
}
#member-main-section>article>div>a:hover{
	text-decoration:none;
}
#member-main-section>article:nth-child(2)>div{
	margin-top:50px;
}
#member-main-section>article:nth-child(3)>div{
	padding:20px 47px;
}
#member-main-section>article:nth-child(2)>div:nth-child(1){
	background-image:url('../image/hansik.jpg');
}
#member-main-section>article:nth-child(2)>div:nth-child(1):hover{
	background-image:url('../image/hansik-hover.jpg');
}
#member-main-section>article:nth-child(2)>div:nth-child(2){
	background-image:url('../image/yangsik.jpg');
}
#member-main-section>article:nth-child(2)>div:nth-child(2):hover{
	background-image:url('../image/yangsik-hover.jpg');
}
#member-main-section>article:nth-child(2)>div:nth-child(3){
	background-image:url('../image/ilsik.jpg');
}
#member-main-section>article:nth-child(2)>div:nth-child(3):hover{
	background-image:url('../image/ilsik-hover.jpg');
}
#member-main-section>article:nth-child(2)>div:nth-child(4){
	background-image:url('../image/jungsik.jpg');
}
#member-main-section>article:nth-child(2)>div:nth-child(4):hover{
	background-image:url('../image/jungsik-hover.jpg');
}
#member-main-section>article:nth-child(3)>div:nth-child(1){
	background-image:url('../image/cafe.jpg');
}
#member-main-section>article:nth-child(3)>div:nth-child(1):hover{
	background-image:url('../image/cafe-hover.jpg');
}
#member-main-section>article:nth-child(3)>div:nth-child(2){
	background-image:url('../image/backery.jpg');
}
#member-main-section>article:nth-child(3)>div:nth-child(2):hover{
	background-image:url('../image/backery-hover.jpg');
}
#member-main-footer{
	background-color:rgba(0,0,0,0.8);
	padding:20px;
	overflow:hidden;
}
#member-main-footer>div{
	float:left;
}
#member-main-footer>div>h2{
	color:white;
}
#member-main-footer>div>p{
	color:white;
}
#member-main-footer>div>address{
	color:white;
	font-size:0.7rem;
	font-style:normal;
	margin-top:15px;
}
#member-main-footer>a{
	float:right;
	border:2px solid #fb0;
	padding:10px;
}
@media (max-width:856px){
	#member-main-footer>a{
		float:left;
		margin-top:20px;
	}
}
@media (max-width:470px){
	#member-main-section>article{
		display:block;
	}
	#member-main-section>article:nth-child(2)>div{
		margin-top:0px;
	}
	#member-main-section>article:nth-child(2)>div:nth-child(1){
		margin-top:50px;
	}
	#member-main-header>form>input[type="text"]{
		display:block;
	}
	#member-main-header>form>input[type="submit"]{
		display:block;
		width:100%;
		margin-top:10px;
	}
	#member-main-header>ul{
		position:absolute;
		top:70px;
		right:20px;
	}
	#member-main-section>article:nth-child(1)>p>span{
		display:block;
		color:black;
	}
}
@media (min-width:471px){
	#member-main-section>article>div{
		width:200px;
	}	
	#member-main-section>article:nth-child(3)>div{
		width:400px;
	}
}
@media (max-width:451px){
	
}
@media (max-width:354px){
	#member-main-header>h2>span{
		display:block;
	}
}
@media (min-width:355px){
	#member-main-header>form>input[type="text"]{
		width:300px;
	}
}

/* signUp */
#member-signUp-header{
	background-color:#fb0;
	width:100%;
	position:fixed;
}
#member-signUp-header>h1{
	text-align:center;
	padding-top:10px;
	padding-bottom:10px;
}
#member-signUp-header>h1>a{
	color:white;
}
#member-signUp-header>h1>a:visited{
	color:white;
}
#member-signUp-section{
	padding-top:60px;
	width:70%;
	margin:0 auto;
}
#member-signUp-section>form>h2{
	color:black;
	margin-top:20px;
	margin-bottom:20px;
}
.signUp-table{
	border-top:1px solid #ddd;
	display:flex;
	align-items:center;
	padding-bottom:10px;
}
.signUp-table>div{
	color:black;
	padding-top:10px;
}
.signUp-table>div:nth-child(1){
	width:20%;
	text-align:center;
	font-weight:bold;
}
.signUp-table>div:nth-child(2){
	width:79%;
	padding-left:1%;
}
.signUp-table>div:nth-child(2)>button{
	background-color:black;
	color:white;
	border:none;
	cursor:pointer;
	padding:10px 40px;
	display:block;
}
.signUp-table>div:nth-child(2)>p{
	margin-top:10px;
	color:black;
	font-size:0.8em;
}
.signUp-table>div:nth-child(2)>input[type="text"],
.signUp-table>div:nth-child(2)>input[type="email"],
.signUp-table>div:nth-child(2)>input[type="password"]{
	color:#555;
	padding:10px;
	width:50%;
}
.signUp-table>div:nth-child(2)>input[type="password"]:nth-child(1){
	margin-bottom:10px;
}
#genderStyle{
	padding-top:20px;
	padding-bottom:10px;
}
.genderRadio{
	display:inline-block;
}
.genderRadio>input[type="radio"]{
	display:none;
}
.genderRadio>label{
	margin-top:20px;
	cursor:pointer;
	border:1px solid #bcbcbc;
	background-color:white;
	color:#bcbcbc;
	padding:10px 40px;
	font-size:0.8em;
	
}
.genderRadio>input[type="radio"]:checked+label{
	background-color:#fb0!important;
	color:white!important;
	border:1px solid #fb0;
}
#birthStyle>input[type="text"]{
	width:20%;
}
#profile-img{
	background-image:url('../image/profile.png');
	width:110px;
	height:110px;
	background-color:#555;
	background-size:60%;
	background-position:center;
	background-repeat:no-repeat;
	border-radius:50%;
	display:inline-block;
}
#profileStyle>div{
	display:inline-block;
}
#profileStyle>div>label{
	background-color:black;
	color:white;
	cursor:pointer;
	padding:10px 40px;
	font-size:0.8em;
}
#profileStyle>div>input[type="file"]{
	display:none;
}
#profileText{
	margin-top:20px;
}

#table-bottom{
	border-bottom:1px solid #ddd;
	margin-bottom:50px;
}
#check-table{
	border-top:1px solid #ddd;
}
.check{
	margin-top:20px;
	margin-bottom:20px;
	cursor:pointer;
}
.check>input[type="checkbox"]{
	display:none;
}
.check>label{
	cursor:pointer;
	color:black;
}
.check>label:before{
	content:' ';
	display:inline-block;
	width:21px;
	height:21px;
	line-height:21px;
	margin:-2px 8px 0 0;
	text-align:center;
	vertical-align:middle;
	border:1px solid #cacece;
	border-radius:3px;
}
.check>input[type="checkbox"]:checked+label:before{
	content:'\2714';
	color:white;
	background-color:#fb0;
	border:1px solid #fb0;
}
#checkText1,#checkText2,#checkText3{
	display:none;
	height:200px;
	overflow:auto;
	border:1px solid #cacece;
	padding:10px;
}
#checkText1>h3,#checkText2>h3,#checkText3>h3{
	color:black;
}
#checkText1>h4,#checkText2>h4,#checkText3>h4{
	color:black;
	font-size:0.9em;
}
#checkText1>p,#checkText2>p,#checkText3>p{
	color:black;
	font-size:0.9em;
}
.open{
	display:block!important;
}
.all-check{
	border-top:1px solid #ddd;
	border-bottom:1px solid #ddd;
	overflow:hidden;
	padding-top:20px;
	padding-bottom:20px;
}
.all-check>input[type="checkbox"]{
	display:none;
}
.all-check>label{
	float:right;
	cursor:pointer;
	color:black;
	font-weight:bold;
}
.all-check>label:before{
	content:' ';
	display:inline-block;
	width:21px;
	height:21px;
	line-height:21px;
	margin:-2px 8px 0 0;
	text-align:center;
	vertical-align:middle;
	border:1px solid #cacece;
	border-radius:3px;
}
.all-check>input[type="checkbox"]:checked+label:before{
	content:'\2714';
	color:white;
	background-color:#fb0;
	border:1px solid #fb0;
}
#member-signUp-section>form>input[type="submit"]{
	background-color:#fb0;
	color:white;
	border:none;
	margin:20px auto;
	display:block;
	padding:20px 60px;
	font-size:1em;
	font-weight:bold;
	cursor:pointer;
}
@media (max-width:660px){
	.signUp-table{
		display:block;
	}
	.signUp-table>div:nth-child(1){
		width:100%;
		background-color:#eee;
		padding-bottom:10px;
	}
	.signUp-table>div:nth-child(2){
		width:100%;
	}
	.signUp-table>div:nth-child(2)>button{
		width:100%;
	}
	.signUp-table>div:nth-child(2)>input[type="text"],
	.signUp-table>div:nth-child(2)>input[type="password"],
	.signUp-table>div:nth-child(2)>input[type="email"]{
		width:92%;
	}
	#genderStyle{
		display:flex;
		justify-content:center;
	}
	#genderStyle>.genderRadio{
		margin:5px;
	}
	#birthStyle>input[type="text"]{
		width:26%;
	}
	#profileStyle{
		display:flex;
		justify-content:center;
		align-items:center;
	}
	#profileStyle>div>label{
		margin-left:10px;
	}
}
@media (max-width:660px){
	#birthStyle>input[type="text"]{
		width:92%;
		margin-bottom:5px;
	}
}