@charset "UTF-8";
@import url('https://fonts.googleapis.com/css?family=Nanum+Gothic');
*{margin:0;color:#fb0;text-decoration:none;list-style:none;outline:none;font-family: 'Nanum Gothic', sans-serif;}

#member-main-footer{
	background-color:rgba(0,0,0,0.8);
	padding:20px;
	overflow:hidden;
}
#member-main-footer>div{
	float:left;
}
#member-main-footer>div>h2{
	color:white;
}
#member-main-footer>div>p{
	color:white;
}
#member-main-footer>div>address{
	color:white;
	font-size:0.7rem;
	font-style:normal;
	margin-top:15px;
}
#member-main-footer>a{
	float:right;
	border:2px solid #fb0;
	padding:10px;
}
@media (max-width:856px){
	#member-main-footer>a{
		float:left;
		margin-top:20px;
	}
}

/* search.jsp - 검색 */
#member-search-header{
	background-color:#fb0;
	overflow:hidden;
	position:fixed;
	width:100%;
	z-index:2;
}
#member-search-header>h1{
	margin:20px;
	float:left;
}
#member-search-header>h1>a{
	color:white;
}
#member-search-header>form{
	position:absolute;
	left:50%;
	transform:translateX(-50%);
	height:76.8px;
	line-height:76.8px;
}
#member-search-header>form>select{
	padding:5px;
	border:none;
	border-radius:3px;
	font-size:0.9em;
	cursor:pointer;
	margin-right:5px;
}
#member-search-header>form>input{
	padding:6px;
	border:none;
	border-radius:3px;
	font-size:0.9em;
	background-color:white;
}
#member-search-header>form>input[type="submit"]{
	cursor:pointer;
}
#member-search-header>form>input::-webkit-input-placeholder { 
	color: #fb0; 
}	
#member-search-header>ul{
	float:right;
	height:76.8px;
	line-height:76.8px;
}
#member-search-header>ul>li{
	float:left;
}
#member-search-header>ul>li>a{
	color:white;
	font-weight:bold;
	margin-right:15px;
}

/* 검색 - 상세페이지 */
#member-detail-section{
	padding-top:76.8px;
}
#member-detail-section>#main{
	width:100%;
	height:400px;
	background-size:cover;
	background-position:center;
	
}



/* 세부 검색 */
.member-search-wrapper{
	width:960px;
	margin:0 auto;
	overflow:hidden;
}

#member-search-section>.member-search-wrapper>h2{
	margin:20px;
	color:black;
	margin-top:30px;
}
