@charset "UTF-8";
@import url('https://fonts.googleapis.com/css?family=Nanum+Gothic');
*{margin:0;color:#fb0;text-decoration:none;list-style:none;outline:none;font-family: 'Nanum Gothic', sans-serif;}

#member-signUp-header{
	background-color:#fb0;
	width:100%;
	position:fixed;
}
#member-signUp-header>h1{
	text-align:center;
	padding-top:10px;
	padding-bottom:10px;
}
#member-signUp-header>h1>a{
	color:white;
}
#member-signUp-header>h1>a:visited{
	color:white;
}

/* loginPage */
html,body{height:100%;}
#member-login-footer{
	background-color:rgba(0,0,0,0.8);
	position:absolute;
	bottom:0;
	width:100%;
	overflow:hidden;
}
#member-login-footer>div{
	padding:20px;
	float:left;
}
#member-login-footer>div>h2,
#member-login-footer>div>p{
	color:white;
}
#member-login-footer>div>address{
	color:white;
	font-size:0.7em;
	font-style:normal;
	margin-top:15px;
}
#member-login-footer>a{
	float:right;
	margin:20px;
	padding:10px;
	border:2px solid #fb0;
}


#member-login-section{
	padding-top:60px;
}
#member-login-section>h2{
	text-align:center;
	color:black;
	margin-top:80px;
	margin-bottom:30px;
}
#member-login-section>form>input[type="text"],
#member-login-section>form>input[type="password"]{
	display:block;
	margin:0 auto 10px;
	padding:10px;
	width:300px;
}
#member-login-section>form>input[type="submit"]{
	display:block;
	margin:0 auto;
	background-color:#fb0;
	color:white;
	border:none;
	width:208px;
	padding:10px;
	font-weight:bold;
	margin-top:30px;
	cursor:pointer;
	border-radius:3px;
}


#member-login-section>p{
	display:flex;
	justify-content:center;
	margin-bottom:7px;
	position:relative;
}
#member-login-section>p>button{
	width:180px;
	text-align:left;
	color:white;
	border:none;
	position:relative;
	left:-3px;
	height:32px;
	padding-left:13px;
	border-top-right-radius:3px;
	border-bottom-right-radius:3px;
	cursor:pointer;
}


@media (max-width:856px){
	#member-login-footer>a{
		float:left;
		margin-top:0px;
	}
	#member-login-footer{
		position:static;
	}
}

/* 로그인 추가 사항 : 아이디 기억하기, 아이디 찾기, 비밀번호 찾기, 점주/사용자 구분 기능*/
#member-login-section>form>p{
	width:313px;
	margin:0 auto;
	font-size:0.9em;
	margin-bottom:8px;
}
#member-login-section>form>p>label{
	color:black;
	margin-left:5px;
	margin-right:10px;
	cursor:pointer;
	font-size:0.9em;
}
#member-login-section>form>p>input[type="checkbox"]{
	display:none;
}
#member-login-section>form>p:nth-child(4){
	width:333px;
}
#member-login-section>form>p:nth-child(4)>label:before{
	content:' ';
	display:inline-block;
	width:18px;
	height:18px;
	line-height:18px;
	margin:-2px 8px 0 0;
	text-align:center;
	vertical-align:middle;
	border:1px solid #cacece;
	border-radius:3px;
}
#member-login-section>form>p:nth-child(4)>input[type="checkbox"]:checked+label:before{
	content:'\2714';
	color:white;
	background-color:black;
	border:black;
}
#member-login-section>p:nth-child(3){
	font-size:0.8em;
	color:#555;
	margin-top:5px;
	margin-bottom:10px;
}
#member-login-section>p:nth-child(3)>a{
	color:#555;
}
#member-login-section>p:nth-child(3)>a:visited{
	color:#555;
}

/* 소셜 로그인 */
#member-login-section>div{
	display:flex;
	justify-content:center;
	margin-bottom:80px;
}
#member-login-section>div>p{
	width:106px;
	height:40px;
	margin:2px;
	border-radius:3px;
	cursor:pointer;
}
#member-login-section>div>p>img{
	margin-left:29px;
}
#member-login-section>div>p:nth-child(1){
	background-color:#3b5998;
}
#member-login-section>div>p:nth-child(2){
	background-color:#dd4f43;
}
#member-login-section>div>p:nth-child(3){
	background-color:#00c73c;
}