@charset "UTF-8";
@import url('https://fonts.googleapis.com/css?family=Nanum+Gothic');
*{margin:0;color:#fb0;text-decoration:none;list-style:none;outline:none;font-family: 'Nanum Gothic', sans-serif;}

#member-main-footer{
	background-color:rgba(0,0,0,0.8);
	padding:20px;
	overflow:hidden;
	clear:both;
}
#member-main-footer>div{
	float:left;
}
#member-main-footer>div>h2{
	color:white;
}
#member-main-footer>div>p{
	color:white;
}
#member-main-footer>div>address{
	color:white;
	font-size:0.7rem;
	font-style:normal;
	margin-top:15px;
}
#member-main-footer>a{
	float:right;
	border:2px solid #fb0;
	padding:10px;
}
@media (max-width:856px){
	#member-main-footer>a{
		float:left;
		margin-top:20px;
	}
}

/* search.jsp - 검색 */
#member-search-header{
	background-color:#fb0;
	overflow:hidden;
	position:fixed;
	width:100%;
	z-index:2;
}
#member-search-header>h1{
	margin:20px;
	float:left;
}
#member-search-header>h1>a{
	color:white;
}
#member-search-header>form{
	position:absolute;
	left:50%;
	transform:translateX(-50%);
	height:76.8px;
	line-height:76.8px;
}
#member-search-header>form>select{
	padding:5px;
	border:none;
	border-radius:3px;
	font-size:0.9em;
	cursor:pointer;
	margin-right:5px;
}
#member-search-header>form>input{
	padding:6px;
	border:none;
	border-radius:3px;
	font-size:0.9em;
	background-color:white;
}
#member-search-header>form>input[type="submit"]{
	cursor:pointer;
}
#member-search-header>form>input::-webkit-input-placeholder { 
	color: #fb0; 
}	
#member-search-header>ul{
	float:right;
	height:76.8px;
	line-height:76.8px;
}
#member-search-header>ul>li{
	float:left;
}
#member-search-header>ul>li>a{
	color:white;
	font-weight:bold;
	margin-right:15px;
}

/* 검색 - 상세페이지 */
#member-myinfo-section{
	padding-top:76.8px;
	position:relative;
}
#member-myinfo-section>#main{
	width:100%;
	height:400px;
	background-color:#333;
}
#member-myinfo-section>div:nth-child(2){
	width:100%;
	height:476.8px;
	position:absolute;
	top:0;
	left:0;
}
#member-myinfo-section>div:nth-child(2)>.member-myinfo-wrapper{
	width:960px;
	margin:0 auto;
	padding-top:177.8px;
	display:flex;
	justify:center;
}
#member-myinfo-section>div:nth-child(2)>.member-myinfo-wrapper>form>label{
	display:block;
}
#member-myinfo-section>div:nth-child(2)>.member-myinfo-wrapper>form>label>#img{
	width:180px;
	height:180px;
	border-radius:50%;
	margin-right:20px;
}
#member-myinfo-section>div:nth-child(2)>.member-myinfo-wrapper>form>input[type="file"]{
	display:none;
}
#member-myinfo-section>div:nth-child(2)>.member-myinfo-wrapper>form>input[type="submit"]{
	margin-left:55px;
	border:1px solid #eee;
	background-color:rgba(0,0,0,0);
	color:white;
	margin-top:8px;
	padding:5px 20px;
	cursor:pointer;
}
#member-myinfo-section>div:nth-child(2)>.member-myinfo-wrapper>div{
	display:flex;
	flex-direction:column;
	justify-content:center;
}
#member-myinfo-section>div:nth-child(2)>.member-myinfo-wrapper>div>h2{
	color:white;
	font-weight:normal;
	margin-bottom:15px;
}
#member-myinfo-section>div:nth-child(2)>.member-myinfo-wrapper>div>p{
	color:white;
}
#member-myinfo-section>div:nth-child(2)>.member-myinfo-wrapper>div>p>.nemo-box{
	display:inline-block;
	border:1px solid white;
	width:28px;
	height:10px;
	box-sizing:border-box;
}
#member-myinfo-section>div:nth-child(2)>.member-myinfo-wrapper>div>p>.nemo-box-white{
	display:inline-block;
	background-color:white;
	width:28px;
	height:10px;
	box-sizing:border-box;
}
#member-myinfo-section>div:nth-child(2)>.member-myinfo-wrapper>div>p>.first{
	border-top-left-radius:5px;
	border-bottom-left-radius:5px;
}
#member-myinfo-section>div:nth-child(2)>.member-myinfo-wrapper>div>p>.final{
	border-top-right-radius:5px;
	border-bottom-right-radius:5px;
	
}
#member-myinfo-section>div:nth-child(2)>.member-myinfo-wrapper>div>p:nth-child(4){
	margin-top:15px;
}
#member-myinfo-section>div:nth-child(2)>.member-myinfo-wrapper>div>p:nth-child(4)>span{
	color:white;
	cursor:pointer;
}
.member-myinfo-page-wrapper{
	width:960px;
	margin:0 auto;
}
.member-myinfo-page-wrapper>.tab{
	margin-top:20px;
	border-top:3px solid #fb0;
	border-bottom:1px solid #ddd;
}
.member-myinfo-page-wrapper>.tab>button{
	border:none;
	background-color:white;
	font-size:1em;
	padding:10px 20px;
	cursor:pointer;
	color:black;
}
.member-myinfo-page-wrapper>.tab>button:hover,
.member-myinfo-page-wrapper>.tab>button.click{
	color:#fb0;
}
.member-myinfo-page-wrapper>.tabInfo>h3,
.member-myinfo-page-wrapper>.tabInfo>form>h3{
	color:black;
	font-size:1em;
	margin-top:20px;
}
.member-myinfo-page-wrapper>.tabInfo>form>h3{
	display:inline-block;
}
.member-myinfo-page-wrapper>.tabInfo>form>input[type="submit"]{
	background-color:#555;
	border:none;
	color:white;
	border-radius:5px;
	padding:7px;
	cursor:pointer;
}

.member-myinfo-page-wrapper>.tabInfo>form>input[type="button"]{
	background-color:#555;
	border:none;
	color:white;
	border-radius:5px;
	padding:7px;
	cursor:pointer;
}
.member-myinfo-page-wrapper>.tabInfo>table,
.member-myinfo-page-wrapper>.tabInfo>form>table{
	border-collapse:collapse;
	margin-top:10px;
	width:100%;
}
.member-myinfo-page-wrapper>.tabInfo>table>tbody,
.member-myinfo-page-wrapper>.tabInfo>form>table>tbody{
	border:1px solid #555;
}
.member-myinfo-page-wrapper>.tabInfo>table>tbody>tr>th,
.member-myinfo-page-wrapper>.tabInfo>form>table>tbody>tr>th{
	padding:20px;
	color:black;
	text-align:left;
	width:125px;
}
.member-myinfo-page-wrapper>.tabInfo>table>tbody>tr>td,
.member-myinfo-page-wrapper>.tabInfo>form>table>tbody>tr>td{
	padding:10px;
	color:black;
	font-size:0.9em;
}
.member-myinfo-page-wrapper>.tabInfo>form>table>tbody>tr>td{
	color:#999;
}
.member-myinfo-page-wrapper>.tabInfo>table>tbody>tr>td>p,
.member-myinfo-page-wrapper>.tabInfo>form>table>tbody>tr>td>p{
	color:black;
	overflow:hidden;
}
.member-myinfo-page-wrapper>.tabInfo>table>tbody>tr>td>p>button{
	float:right;
	background-color:white;
	border:1px solid #ddd;
	color:#ddd;
	padding:10px;
	border-radius:7px;
	cursor:pointer;
}
.member-myinfo-page-wrapper>.tabInfo>table>tbody>tr>td>p>button:hover{
	border:1px solid #555;
	color:#555;
}
.member-myinfo-page-wrapper>.tabInfo>table>tbody>tr>td>form{
	clear:both;
	background-color:#ccc;
	padding:10px 30px;
	margin-top:15px;
	width:400px;
}
.member-myinfo-page-wrapper>.tabInfo>table>tbody>tr>td>form>p{
	margin:10px;
}
.member-myinfo-page-wrapper>.tabInfo>table>tbody>tr>td>form>p>label{
	color:black;
	font-size:0.9em;
}
.member-myinfo-page-wrapper>.tabInfo>table>tbody>tr>td>form>p:nth-child(1)>label{
	margin-right:32px;
}
.member-myinfo-page-wrapper>.tabInfo>table>tbody>tr>td>form>p:nth-child(2)>label{
	margin-right:46px;
}
.member-myinfo-page-wrapper>.tabInfo>table>tbody>tr>td>form>p:nth-child(3)>label{
	margin-right:15px;
}
.member-myinfo-page-wrapper>.tabInfo>table>tbody>tr>td>form>p>input[type="password"],
.member-myinfo-page-wrapper>.tabInfo>table>tbody>tr>td>form>p>input[type="text"]{
	color:black;
	width:150px;
	border-radius:5px;
	border:1px solid #555;
	font-size:0.9em;
	padding:5px;
}
.member-myinfo-page-wrapper>.tabInfo>table>tbody>tr>td>form>p>input[type="text"]{
	width:210px;
}
.member-myinfo-page-wrapper>.tabInfo>table>tbody>tr>td>form>input[type="submit"],
.member-myinfo-page-wrapper>.tabInfo>table>tbody>tr>td>form>p>input[type="submit"]{
	background-color:#555;
	border:none;
	color:white;
	margin-left:10px;
	padding:10px;
	border-radius:5px;
	cursor:pointer;
}
.member-myinfo-page-wrapper>.tabInfo>form>table>tbody>tr>td>p>input[type="radio"],
.member-myinfo-page-wrapper>.tabInfo>form>table>tbody>tr>td>div>p>input[type="radio"]{
	display:none;
}
.member-myinfo-page-wrapper>.tabInfo>form>table>tbody>tr>td>p>label{
	color:black;
	cursor:pointer;
	float:right;
	margin-left:10px;
}
.member-myinfo-page-wrapper>.tabInfo>form>table>tbody>tr>td>div>p>label{
	color:black;
	cursor:pointer;
	margin-left:10px;	
}
.member-myinfo-page-wrapper>.tabInfo>form>table>tbody>tr>td>p>label:before,
.member-myinfo-page-wrapper>.tabInfo>form>table>tbody>tr>td>div>p>label:before{
	content:' ';
	display:inline-block;
	width:16px;
	height:16px;
	line-height:18px;
	margin:-2px 8px 0 0;
	text-align:center;
	vertical-align:middle;
	border:1px solid #cacece;
	border-radius:3px;
}
.member-myinfo-page-wrapper>.tabInfo>form>table>tbody>tr>td>p>input[type="radio"]:checked+label:before,
.member-myinfo-page-wrapper>.tabInfo>form>table>tbody>tr>td>div>p>input[type="radio"]:checked+label:before{
	content:'\2714';
	color:white;
	background-color:#fb0;
	border:black;
}
.member-myinfo-page-wrapper>.tabInfo>form>table>tbody>tr>td>p>input[type="radio"]:checked+label,
.member-myinfo-page-wrapper>.tabInfo>form>table>tbody>tr>td>div>p>input[type="radio"]:checked+label{
	color:#fb0;
}
.member-myinfo-page-wrapper>.tabInfo>form>table>tbody>tr>td>div{
	border:1px solid #ddd;
	margin:10px 0;
	padding:10px;
}
.member-myinfo-page-wrapper>.tabInfo>form>table>tbody>tr>td>div>p>span{
	color:black;
	font-weight:bold;
}
.member-myinfo-page-wrapper>.tabInfo>form:nth-child(4){
	overflow:hidden;
}
.member-myinfo-page-wrapper>.tabInfo>form:nth-child(4)>input[type="button"]{
	float:right;
	margin-top:10px;
	margin-bottom:20px;
}

/* 예약 : 방문 예정 예약, 지나간 예약 */
.member-myinfo-page-wrapper>#Reservation>.tab-reservation{
	float:right;
	margin-top:20px;
	overflow:hidden;
}
.member-myinfo-page-wrapper>#Reservation>.tab-reservation>button{
	background-color:white;
	border:none;
	color:#555;
	font-weight:bold;
	font-size:1em;
	cursor:pointer;
}
.member-myinfo-page-wrapper>#Reservation>.tab-reservation>.click{
	color:#fb0;
	
}
.member-myinfo-page-wrapper>#Reservation>.tabInfo-reservation{
	clear:both;
}

/* 쿠폰 */
.member-myinfo-page-wrapper>#Coupon>.tab-coupon{
	float:right;
	margin-top:20px;
	overflow:hidden;
}
.member-myinfo-page-wrapper>#Coupon>.tab-coupon>button{
	background-color:white;
	border:none;
	color:#555;
	font-weight:bold;
	font-size:1em;
	cursor:pointer;
}
.member-myinfo-page-wrapper>#Coupon>.tab-coupon>.click{
	color:#fb0;
	
}
.member-myinfo-page-wrapper>#Coupon>.tabInfo-coupon{
	clear:both;
}

/* 리뷰  */
.member-myinfo-page-wrapper>#Review>.tab-review{
	float:right;
	margin-top:20px;
	overflow:hidden;
}
.member-myinfo-page-wrapper>#Review>.tab-review>button{
	background-color:white;
	border:none;
	color:#555;
	font-weight:bold;
	font-size:1em;
	cursor:pointer;
}
.member-myinfo-page-wrapper>#Review>.tab-review>.click{
	color:#fb0;
	
}
.member-myinfo-page-wrapper>#Review>.tabInfo-review{
	clear:both;
}

/* 찜한 매장 */
.member-myinfo-page-wrapper>#Like{
	overflow:hidden;
}
.search-result{
	float:left;
	margin-bottom:20px;
}
.search-result>.search-result-img{
	width:304px;
	height:304px;
	background-size:cover;
	background-position:center;
	margin-left:7px;
	margin-right:7px;
	margin-top:14px;
	position:relative;
}
.search-result>.search-result-img>form>input[type="submit"]{
	background-color:rgba(0,0,0,0.4);
	border:none;
	position:relative;
	width:304px;
	height:304px;
	display:block;
	cursor:pointer;
}
.search-result>.search-result-img>div:nth-child(2){
	position:absolute;
	top:0;
	right:0;
	margin:10px;
}
.search-result>.search-result-img>div:nth-child(2)>p{
	color:white;
	font-size:0.9em;
}
.search-result>.search-result-img>div:nth-child(2)>.heart{
	background-image:url('../../image/member/search/heart.png');
	background-size:cover;
	background-position:center;
	width:30px;
	height:30px;
	float:right;
	margin-top:10px;
	cursor:pointer;
}
.search-result>.search-result-img>div:nth-child(3){
	position:absolute;
	bottom:0;
	left:0;
	margin:10px;
}
.search-result>.search-result-img>div:nth-child(3)>h5{
	color:white;
	font-size:1em;
}
.search-result>.search-result-img>div:nth-child(3)>p{
	color:white;
	font-size:1em;	
}
.search-result>.search-result-text{
	border:1px solid #ddd;
	margin:0px 7px;
}
.search-result>.search-result-text>div{
	margin:0px 7px;
	padding:7px;
}
.search-result>.search-result-text>div>.star{
	background-image:url('../../image/member/search/star.png');
	background-size:cover;
	background-position:center;
	width:20px;
	height:20px;
	display:inline-block;
}
.search-result>.search-result-text>div>.star-result{
	border:1px solid #fb0;
	display:inline-block;
	float:right;
	padding:3px;
	font-size:0.9em;
	border-radius:4px;
}
.search-result>.search-result-text>div:nth-child(2){
	width:274px;
	height:40px;
	font-size:0.9em;
	color:#555;
	margin-top:12px;
}
.search-result>button,
.search-result>form>input[type="button"]{
	margin-top:4px;
	cursor:pointer;
	width:150px;
	height:40px;
}
.search-result>form{
	display:inline-block;
}
.search-result>form>input[type="button"]{
	background-color:#fb0;
	border:none;
	color:white;
	display:inline-block;
	margin-left:7px;
}
.search-result>button{
	background-color:white;
	border:1px solid #ddd;
	margin-right:7px;
	color:black;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width:40%;
    overflow:auto;
    height:500px;
}
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}
.modal-content>.tab{
	float:left;
}
.modal-content>.tab>.tablink{
	background-color:white;
	border:none;
	color:#555;
	font-size:1em;
	font-weight:bold;
	cursor:pointer
}
.modal-content>.tab>.click{
	color:#fb0;
}
.modal-content>.tabInfo{
	clear:both;
	border-top:1px solid #999;
	margin-top:15px;
	padding-top:10px;
	padding-left:5px;
}
#profile-follow{
	width:47%;
	height:120px;
	float:left;
	margin-right:10px;
	margin-top:10px;
	display:flex;
}
#profile-follow-image{
	background-color:black;
	width:100px;
	height:100px;
	border-radius:50%;
	margin:15px;
}
#profile-follow>div:nth-child(2)>p{
	color:black;
	font-size:0.9em;
}
#profile-follow>div:nth-child(2)>p:nth-child(1){
	margin-top:32px;
	font-weight:bold;
}
#profile-follow>div:nth-child(2)>p:nth-child(2){
	font-size:0.8em;
	color:#555;
}
#profile-follow>div:nth-child(2)>button{
	background-color:white;
	border:1px solid #ddd;
	color:#ddd;
	cursor:pointer;
	padding:5px 17px;
	margin-top:10px;
}
#profile-follow>div:nth-child(2)>button:hover{
	color:white;
	background-color:#fb0;
	border:none;
}