<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd" >
<configuration>
	<typeAliases>
		<typeAlias type="com.kh.ynm.member.model.vo.YNMMember" alias="member"/>
		<typeAlias type="com.kh.ynm.member.model.vo.YNMMemberCheck" alias="memberCheck"/>
		<typeAlias type="com.kh.ynm.member.model.vo.YNMBook" alias="books"/>
		<typeAlias type="com.kh.ynm.member.model.vo.YNMMemberUploadPhoto" alias="photos"/>
		<typeAlias type="com.kh.ynm.member.model.vo.YNMStoreReview" alias="reviews"/>
	</typeAliases>
</configuration>
