@charset "UTF-8";
.search-result{
	float:left;
}
.search-result-img{
	width:304px;
	height:304px;
	background-size:cover;
	background-position:center;
	margin-left:7px;
	margin-right:7px;
	margin-top:14px;
	position:relative;
}
img{
	width:100%;
	height:100%;
	object-fit:cover;
	position:relative;
	margin-left:15px;
}

/*아래쪽 페이징*/
#pagingNumber{
	clear:both;
}


/* 카드 형식으로 디자인 */
#store-select-detail>div>.main-card{
	position:relative;
	overflow:hidden;
	display:inline;
}
#store-select-detail>div>.main-card>input[type="submit"]{
	position:absolute;
	z-index:1;
	width:304px;
	height:304px;
	top:13px;
	left:7px;
	border:none;
	background-color:rgba(0,0,0,0.3);
	color:white;
	font-size:1.2em;
	font-weight:bold;
	cursor:pointer;
}
#store-select-detail>div>.main-card>.search-result>.search-result-text>div>p{
	text-align:center;
	margin:10px;
	font-weight:bold;
	font-size:0.9em;
}
#store-select-detail>div>h2{
	clear:both;
	padding:20px 10px 0px;
}
#store-select-detail>div>div>.store-form>input[type="submit"]{
	background-color:white;
	border:none;
	font-size:1em;
	font-weight:bold;
	cursor:pointer;
	margin:10px;
}
#store-select-detail>div>div>.store-form>input[type="submit"]:hover{
	color:#fb0;
}
#store-select-detail>div>.store-info-div>form{
	line-height:2;
	margin-left:15px;
}
#store-select-detail>div>.store-info-div>form>span{
	font-weight:bold;
}
#store-select-detail>div>.store-info-div>form>button{
	background-color:#fb0;
	border:none;
	padding:5px 10px;
	border-radius:7px;
	font-weight:bold;
	cursor:pointer;
}
#store-select-detail>div>.store-info-div>form>input[type="text"]{
	font-size:0.9em;
	padding:5px;
	border-radius:3px;
	border:1px solid #999;
	width:300px;
}
#store-select-detail>div>.store-info-div>form>#owStoreTypeEditSelect>select{
	padding:5px;
}
#store-select-detail>div>.store-info-div>form>input[type="submit"]{
	padding:10px 20px;
	border:none;
	margin-top:20px;
	margin-bottom:20px;
	background-color:#555;
	color:white;
	font-weight:bold;
	cursor:pointer;
	border-radius:5px;
}
#store-select-detail>div>.store-info-div>h3{
	font-size:0.9em;
	margin:15px;
}
#mainImage+label{
	background-color:#555;
	border-radius:5px;
	font-weight:bold;
	padding:5px 20px;
	font-size:0.9em;
	margin-bottom:20px;
}
#menuImage+label{
	background-color:#555;
	border-radius:5px;
	font-weight:bold;
	padding:10px 20px;
	font-size:0.9em;
	margin-bottom:20px;
	margin-left:15px;
}
#store-select-detail>div>.store-info-div>.menuInfo>form>div>input[type="submit"]{
	border:none;
	background-color:black;
	color:white;
	padding:10px 20px;
	font-weight:bold;
	margin-left:15px;
	margin-bottom:20px;
	border-radius:5px;
}

/* 점장 페이지 - 카드 디자인 메인 */
#store-select-detail>div:nth-child(1){
	display:flex;
	justify-content:center;
}
#store-select-detail>div>.design-card{
	position:relative;
	overflow:hidden;
	display:inline;
	margin-top:55px;
}
#store-select-detail>div>.design-card>input[type="submit"]{
	position:absolute;
	z-index:1;
	width:304px;
	height:304px;
	top:13px;
	right:7px;
	border:none;
	background-color:rgba(0,0,0,0.3);
	color:white;
	font-size:1.2em;
	font-weight:bold;
	cursor:pointer;
}
#store-select-detail>div>.design-card>.search-result>.search-result-text>div>p{
	text-align:center;
	margin:10px;
	font-weight:bold;
	font-size:0.9em;
}

/* 페이징 처리 디자인 */
#pagingNumber{
	margin-top:5px;
	margin-bottom:10px;
}
#pagingNumber>form{
	text-align:center;
}
#pagingNumber>form>input{
	background-color:#555;
	border:none;
	color:white;
	padding:5px;
}

/* footer 고정 시 */
#owner-fixed-footer{
	position:fixed;
	bottom:0;
	width:100%;
	background-color:rgba(0,0,0,0.8);
	padding:10px;
}
#owner-fixed-footer>h2,
#owner-fixed-footer>p{
	color:white;
}
#owner-fixed-footer>address{
	color:white;
	font-size:0.7em;
	font-style:normal;
	margin-top:15px;
}


/* 가게 관리 */
#store-select-detail>#storeInfo{
	width:960px;
	margin:0 auto;
}