@charset "UTF-8";
.search-result{
	float:left;
}
.search-result-img{
	width:304px;
	height:304px;
	background-size:cover;
	background-position:center;
	margin-left:7px;
	margin-right:7px;
	margin-top:14px;
	position:relative;
}
img{
	width:100%;
	height:100%;
	object-fit:cover;
	position:relative;
}

/*아래쪽 페이징*/
#pagingNumber{
	clear:both;
}
